<div class="page-header">
  <div class="container">
    <h1>Adrián Díaz Hospital</h1>
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      <br>
      <a [routerLink]="['/auth/login']">Login</a>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Page</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="patients">Patients</a>
      </li>
    </ul>
  </div>
</nav>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

